.buttonUserLocation {
	width: 40px;
	height: 40px;
	background: url(../../images/location.svg) no-repeat center #fff;
	border: 1px solid #cccdc2;
	border-radius: 40px;
	position: absolute;
	bottom: 110px;
	left: 45%;
}
