.form-input-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin-top: -25px;
}

.form-input-label {
	position: relative;
	display: flex;
	flex-direction: column;
	font-size: 13px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: -0.019em;
	text-align: left;
}

.form-input {
	margin-top: 4px;
	border: 1px solid #cccdc2;
	border-radius: 10px;
	padding: 0 8px;
	height: 40px;

	color: #000;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: -0.266px;

	&_error {
		border-color: #e90000;
	}

	&_error-text {
		color: #e90000;
		font-size: 11px;
		margin-top: 4px;
	}
}
