.button {
	box-sizing: border-box;
	border: none;
	border-radius: 8px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	cursor: pointer;

	&_link {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		text-decoration: none;
		font-weight: 400;
	}

	/* Sizes */

	&_small {
		width: 95px;
		height: 40px;
	}

	&_medium {
		width: 150px;
		height: 40px;
	}

	&_large {
		width: 300px;
		height: 40px;
	}

	/* Colors */

	&_color-primary {
		background: linear-gradient(94.71deg, #c3f402 46.19%, #3fe911 124.54%);
		transition: 0.35s ease-in-out;
	}

	&_color-primary:disabled {
		background: #cccdc2;
		color: #fff;
		cursor: auto;
	}

	&_color-primary:hover {
		background: #c3f402;
	}

	&_color-primary:active {
		background: #3fe911;
	}

	&_color-primary:hover:disabled {
		background: #cccdc2;
	}

	&_color-secondary {
		background: transparent;
		border: 2px solid #c3f402;
		transition: 0.35s ease-in-out;
	}

	&_color-secondary:disabled {
		background: transparent;
		border: 2px solid #cccdc2;
		color: #cccdc2;
		cursor: auto;
	}

	&_color-secondary:hover {
		border: none;
		background: #c3f402;
	}

	&_color-secondary:active {
		border: none;
		background: #3fe911;
	}

	&_color-secondary:hover:disabled {
		background: transparent;
		border: 2px solid #cccdc2;
	}
}
