.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s;
	z-index: 10;

	&__container {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 320px;
		min-height: 160px;
		background-color: #fff;
		border-radius: 10px;
		padding: 60px 20px 30px;
		box-sizing: border-box;
	}

	&_opened {
		visibility: visible;
		opacity: 1;
		transition: visibility 0.5s, opacity 0.5s;
	}

	/* @TODO добавить общие стили чтобы можно было убрать некоторые свойсва стилей */

	&__title {
		margin: 0;
		margin-bottom: 25px;
		padding: 0;
		font-family: 'Noto Sans', 'Arial', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;
		text-align: center;
		color: #141513;
	}

	&__btn-close {
		padding: 0;
		position: absolute;
		right: 15px;
		top: 15px;
		width: 24px;
		height: 24px;
		background-color: transparent;
		background-image: url(../../images/icon_close.svg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		transition: opacity 0.3s;
	}

	&__btn-close:hover {
		opacity: 0.6;
	}
}
