@mixin font15 {
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	color: #141513;
}
.delete-account__img {
	display: block;
	margin: 0 auto 16px;
}
.delete-account__text {
	@include font15;
	margin: 0 0 24px;
	text-align: center;
}

.delete-account__btn-container {
	display: flex;
	justify-content: center;
}

.delete-account__link {
  text-decoration: none;
}

.delete-account__btn {
  display: block;
  margin: 0 auto;
}

.registration_form_input-container ~ .delete-account__btn-container {
  margin-top: 24px;
}
