$light-grey: #FAFAFA;
$grey: #CCCDC2;

.menuPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;

  &_opened {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
  }

  &__container {
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: $light-grey;
    box-sizing: border-box;

    width: 80%;
    height: 100%;
  }

  &__header {
    height: 64px;
    border-bottom: 1px solid $grey;
  }
}
