/*переопределение стилей библиотеки slick.css*/

.slick-list {
	margin: 0 0 54px;
}

/*переопределение стилей библиотеки slick-theme.css*/

.slick-dots li {
	margin: 0;
}

.slick-dots li.slick-active button:before {
	font-size: 15px;
}

/*добавленные стили*/

.slick-list {
	margin: 0 0 54px;
}

.slick-dots li {
	margin: 0;
	&.slick-active button:before {
		font-size: 15px;
	}
}

.slick__container {
	display: flex;
	text-align: center;
}
.slick-image {
	width: 375px;
	height: 455px;
	background-size: cover;
	margin: 0 0 20px;
}
.slick__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	margin: 0 0 16px;
}
.slick__description {
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	margin: 0 0 10px;
}
