.footer {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	max-width: 375px;

	&_container {
		width: 100%;
		padding: 0 8px 20px 8px;
		display: flex;
		column-gap: 12px;
		border-top: 1px solid #cccdc2;
		background-color: #fff;
	}

	&__link {
		width: calc(100% / 3);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 8px 0;
		border: none;
		background-color: transparent;
		text-decoration: none;
		cursor: pointer;
		color: #aeafa4;
	}

	&__link-icon {
		width: 24px;
		height: 24px;
	}

	&__link-text {
		font-size: 14px;
		font-weight: 500;
		line-height: 140%;
	}
}

.active {
	color: #000;

	& svg {
		fill: #000;
	}
}
