$grey: #cccdc2;
$light-yellow: #fdffe2;
@mixin font15 {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: #141513;
}

.settingsMenuPopup {
  &__header {
    height: 64px;
    border-bottom: 1px solid $grey;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    box-sizing: border-box;
  }

  &__button {
    background: url("../../images/arrow-back.svg") no-repeat center;
    width: 24px;
    height: 24px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
  }

  &__title {
    @include font15;
  }

  &__checkbox-container {
    margin: 22px 20px 14px;
  }

  &__navigation {
    margin-left: 20px;
  }

  &__link-container {
    display: flex;
    flex-direction: column;
  }

  &__link-container:first-child {
    margin-bottom: 68px;
  }

  &__link {
    @include font15;
    text-decoration: none;
    padding: 12px 0;
  }

  &__link:hover {
    background: $light-yellow;
  }
}
